@model Web.ViewModels.IndexViewModel
@{
    ViewBag.Title = Resources.Manage.Index_Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<div class="row">


    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">@Resources.Manage.Index_ChangeYourAccountSettings</h3>
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>@Resources.Manage.Index_Firstname</dt>
                    <dd>
                        [
                        @Html.ActionLink(Resources.Manage.Index_ChangeFirstname, "ChangeFirstname")
                        ]
                    </dd>

                    <dt>@Resources.Manage.Index_Lastname</dt>
                    <dd>
                        [
                        @Html.ActionLink(Resources.Manage.Index_ChangeLastname, "ChangeLastname")
                        ]
                    </dd>


                    <dt>@Resources.Manage.Index_Password</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
            {
                            @Html.ActionLink(Resources.Manage.Index_ChangeYourPassword, "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink(Resources.Manage.Index_Create, "SetPassword")
                        }
                        ]
                    </dd>



                </dl>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col (left) -->

    
</div>

