@model Domain.Models.UserGameRow

<div class="form-group form-inline" data-userid="@Model.UserIntId">
    @Html.HiddenFor(model => model.UserIntId)	
        
    @Html.EditorFor(model => model.StartBet, new { htmlAttributes = new { @class = "form-control pull-center table_tb"} })
    @Html.EditorFor(model => model.EndBet, new { htmlAttributes = new { @class = "form-control pull-center table_tb"} })
    @Html.ValidationMessageFor(model => model.StartBet, "", new { @class = "text-danger" })
</div>
