
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header text-uppercase">@Resources.Common.MainNavigation</li>
            
            @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Multilevel</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>*@
            <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> <span>@Resources.Common.AdminLandingPage</span></a></li>
            <li><a href="@Url.Action("Create", "Games")"><i class="fa fa-gamepad"></i> <span>@Resources.Common.NewGame</span></a></li>
            <li><a href="documentation/index.html"><i class="fa fa-table"></i> <span>@Resources.Common.HighScores</span></a></li>
            <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>@Resources.Common.News</span></a></li>
            <li><a href="@Url.Action("About", "Admin")"><i class="fa fa-info"></i> <span>@Resources.Common.AboutGentleman</span></a></li>
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-left"></i> <span>@Resources.Common.BackToHomepage</span></a></li>

            <li class="header text-uppercase">@Resources.Common.UserNavigation</li>
            <li><a href="@Url.Action("Index", "UserVaria")"><i class="fa fa-list-ol"></i> <span>@Resources.Common.UserStatistics</span></a></li>
            <li><a href="#"><i class="fa fa-history"></i> <span>@Resources.Common.UserHistory</span></a></li>
            <li><a href="#"><i class="fa fa-cog"></i> <span>@Resources.Common.UserSettings</span></a></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>