@using Domain.Identity
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@{
    var str = User.Identity.GetUserId();
    var personName = "";

    if (!string.IsNullOrWhiteSpace(str))
    {
        UserInt user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(int.Parse(str));
        personName = user.UserName;
    }

}



@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    @personName<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(@Resources.Account.User_Panel, "Index", new {area = "", controller = "Admin"})</li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Common.LogOff</a>
                    </li>
                </ul>
            </li>
            @Html.Partial("_ChooseLanguagePartial")
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(@Resources.Common.Login, "Login", new {area = "", controller = "Account"}, htmlAttributes: new {id = "loginLink"})
        </li>
        <li>
            @Html.ActionLink(@Resources.Common.Register, "Register", new {area = "", controller = "Account"}, htmlAttributes: new {id = "registerLink"})
        </li>
        @Html.Partial("_ChooseLanguagePartial")
    </ul>
}
