@model Web.ViewModels.AdminIndexViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = Resources.Common.AdminLandingPage;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Common.LatestGames</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    @foreach (var game in Model.Games)
                    {
                    <li class="item">
                        @*<div class="product-img">
                            <img src="dist/img/default-50x50.gif" alt="Product Image">
                        </div>*@
                        <div class="product-info">
                            <div  class="product-title">
                                @game.Game.GameName
                                <span class="label label-default pull-right">@game.Created.Date.ToShortDateString()</span>
                            </div>
                            <span class="product-description">
                                @Resources.Common.Postion @game.Position, @Resources.Common.Score: @game.Score
                            </span>
                        </div>
                    </li>
                    <!-- /.item -->
                    }
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                @Html.ActionLink(Resources.Common.ViewGameStatistics, "Index", "UserVaria", new {}, new {@class = "uppercase"})
            </div>
            <!-- /.box-footer -->
        </div>
    </section>
    <!-- /.Left col -->

    <!-- right col -->
    <section class="col-lg-5 connectedSortable">
        <div class="box box-danger direct-chat direct-chat-warning direct-chat-contacts-open">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Common.FriendsList</h3>

                <div class="box-tools pull-right">
                    <span class="label label-danger">@Resources.Common.FriendCount @Model.Friends.Count</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="@Resources.Common.FriendRequests">
                        <i class="fa fa-comments"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="direct-chat-messages">
                    <ul class="">
                        @foreach (var friend in Model.Friends)
                        {
                            <li >
                                <span>
                                    @*<img src="dist/img/user1-128x128.jpg" alt="User Image">*@
                                    @if (friend.UserIntSenderId == User.Identity.GetUserId<int>())
                                    {
                                        <a class="users-list-name" href='@Url.Action("Index", "UserVaria", new {userId = friend.UserIntReceiverId})'>@friend.UserIntReceiver.UserName</a>
                                    }
                                    else
                                    {
                                        <a class="users-list-name" href='@Url.Action("Index", "UserVaria", new {userId = friend.UserIntSenderId})'>@friend.UserIntSender.UserName</a>
                                    }
                                    @*<span class="users-list-date">Today</span>*@
                                    <button type="button" id="decline_friend" value="@friend.FriendId" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </span>
                            </li>
                        }
                    </ul>
                    <!-- /.users-list -->
                </div>

                <!--/.direct-chat-messages-->
                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                        @foreach (var friend in Model.FriendRequests)
                        {
                            <li>
                                <div href="#">
                                    @*<img class="contacts-list-img" src="dist/img/user1-128x128.jpg" alt="User Image">*@

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name pull">


                                            <small class="contacts-list-date pull-right">@friend.Added.Date.ToShortDateString()</small>
                                        </span>
                                        <span class="contacts-list-msg">
                                            @Resources.Common.FriendRequestFrom @friend.UserIntSender.UserName

                                        </span>
                                        <span>
                                            <button type="button" id="accept_friend" value="@friend.FriendId" class="btn btn-success btn-xs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
                                            <button type="button" id="decline_friend" value="@friend.FriendId" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>   
                                        </span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </div>
                            </li>
                        <!-- End Contact Item -->
                        }
                    </ul>
                    <!-- /.contatcts-list -->
                </div>
                <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center" style="display: block;">
                @using (Html.BeginForm())
            {
                    <div class="input-group">
                        @Html.EditorFor(x => x.SearchTxt, new { htmlAttributes = new { @class = "form-control", @id = "search-box", @placeholder = Resources.Common.SearchNewFriends, @autocomplete = "off", @list = "json-datalist", @name = "q" } })
                        @*<input id="search-box" list="json-datalist" autocomplete="off" type="text" name="q" class="form-control" placeholder="@Resources.Common.SearchNewFriends">*@
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <div>@Resources.Common.AddFriend</div>
                            </button>
                        </span>
                        <datalist id="json-datalist"></datalist>
                    </div>
                }
            </div>
            <!-- /.box-footer -->
        </div>
    </section>


</div>

<!-- /.row (main row) -->
@section AdminScripts {
    <script>
        var dataList = document.getElementById('json-datalist');

        jQuery('#search-box').on('input propertychange paste', function() {
            jQuery.get('@Url.Action("SearchUsersAsync", "Admin")', { searchTxt: $("#search-box").val() }).done(function(response) {
                $("#json-datalist").empty();
                response.forEach(function(item) {
                    var option = document.createElement('option');
                    option.value = item.UserName;
                    option.id = item.Id;
                    dataList.appendChild(option);
                });

            });
        });

        console.log('load initial');


        jQuery('#accept_friend').on('click', function() {
            console.log('#accept_friend was clicked');
            console.log($(this).attr("value"));


            $.ajax({
                url: '@Url.Action("FriendRequestAction")',
                type: "POST",
                data: { accept: true, friendId: $(this).attr("value") },
                success: function (data) {
                    window.location.reload();
                }

            });
        });

        jQuery('#decline_friend').on('click', function () {
            console.log('#decline_friend was clicked');
            console.log($(this).attr("value"));


            $.ajax({
                url: '@Url.Action("FriendRequestAction")',
                type: "POST",
                data: { accept: false, friendId: $(this).attr("value") },
                success: function (data) {
                    window.location.reload();
                }

            });
        });


    </script>
}