@using Domain.Models
@using HtmlHelpers
@model Web.ViewModels.GameCreateViewModel

<div class="box">
    <div class="box-header">
        <h3 class="box-title">@Resources.Common.GameTable</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" id="name_box" class="form-control pull-right" placeholder="@Resources.Common.NewPlayerPlaceholder">

                <div class="input-group-btn">
                    <button type="button" id="add-person" class="btn btn-default"><i class="fa fa-hand-pointer-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body no-padding">

        <table class="table table-striped" id="mtable">
            <thead>
                <tr>
                    <th style="width: 10px" >#</th>
                    @foreach(var row in Model.Game.GameRows) 
                    {
                        foreach (var userrow in row.UserGameRows)
                        {
                            <th>@userrow.UserInt.UserName</th> 
                        }
                    }
                    <th>#</th>
                </tr>
            </thead>
            <tbody id="rows-list">

            @Html.HiddenFor(m => m.GameTime)
            @Html.HiddenFor(m => m.Game.GameId)
            @Html.HiddenFor(m => m.Game.GameName)
            @Html.HiddenFor(m => m.Game.GameTypeId)
            @Html.HiddenFor(m => m.Game.StartedAt)
            
            @for (var i = 0; i < Model.Game.GameRows.Count; i++)
            {
                @Html.HiddenFor(model => Model.Game.GameRows[i].GameRowId)
            }


            @for (var i = 0; i < Model.Game.GameRows.Count; i++)
            {
                
                var i1 = i;
                if (Model.Game.GameRows.ElementAt(i).UserGameRows.Count != 0)
                {
                    <tr data-gamerowtypeid="@Model.Game.GameRows.ElementAt(i).GameRowType.GameRowTypeId" >
                        <td>@Model.Game.GameRows.ElementAt(i).GameRowType.Description</td>
                        <td>@Html.EditorForMany(x => Model.Game.GameRows.ElementAt(i1).UserGameRows, x => x.Index)</td>
                        <td><button type="button" class="save-row">SAVE</button></td>
                    </tr>
                }
            }
            </tbody>

            @*<tr>
                <td>1.</td>
                <td>Update software</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                </td>
                <td><span class="badge bg-red">55%</span></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Clean database</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                    </div>
                </td>
                <td><span class="badge bg-yellow">70%</span></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Cron job running</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                    </div>
                </td>
                <td><span class="badge bg-light-blue">30%</span></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Fix and squish bugs</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                    </div>
                </td>
                <td><span class="badge bg-green">90%</span></td>
            </tr>*@
        </table>
    </div>
    <!-- /.box-body -->

    <div class="box-footer clearfix">
        <input id="new-game-btn" type="submit" value="@Resources.Common.Save" class="btn btn-default" />
    </div>
</div>
<!-- /.box -->