@using Domain.Models
@using HtmlHelpers
@model Web.ViewModels.GameCreateViewModel

<div class="box">
    <div class="box-header">
        <h3 class="box-title">@Resources.Common.GameTable</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" id="name_box" class="form-control pull-right" placeholder="@Resources.Common.NewPlayerPlaceholder">

                <div class="input-group-btn">
                    <button type="button" id="add-person" class="btn btn-default"><i class="fa fa-hand-pointer-o"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->

    <div class="box-body no-padding">

        <table class="table table-striped" id="mtable">
            <thead>
                <tr>
                    <th style="width: 10px" >#</th>
                    @foreach(var row in Model.Game.GameRows) 
                    {
                        foreach (var userrow in row.UserGameRows)
                        {
                            <th>@userrow.UserInt.UserName</th> 
                        }
                    }
                    <th>#</th>
                </tr>
            </thead>
            <tbody id="rows-list">

            @Html.HiddenFor(m => m.GameTime)
            @Html.HiddenFor(m => m.Game.GameId)
            @Html.HiddenFor(m => m.Game.GameName)
            @Html.HiddenFor(m => m.Game.GameTypeId)
            @Html.HiddenFor(m => m.Game.StartedAt)
            
            @for (var i = 0; i < Model.Game.GameRows.Count; i++)
            {
                @Html.HiddenFor(model => Model.Game.GameRows[i].GameRowId)
            }


            @for (var i = 0; i < Model.Game.GameRows.Count; i++)
            {
                
                var i1 = i;
                if (Model.Game.GameRows.ElementAt(i).UserGameRows.Count != 0)
                {
                    <tr data-gamerowtypeid="@Model.Game.GameRows.ElementAt(i).GameRowType.GameRowTypeId" data-gamerowid="@Model.Game.GameRows.ElementAt(i).GameRowId">
                        <td>@Model.Game.GameRows.ElementAt(i).GameRowType.Description</td>
                        <td>@Html.EditorForMany(x => Model.Game.GameRows.ElementAt(i1).UserGameRows, x => x.Index)</td>
                        <td align="center" valign="middle"><button  type="button" class="btn btn-primary btn-sm save-row">SAVE</button></td>
                    </tr>
                }
            }
            </tbody>
            <tfoot>
                <tr id="score-name-row">
                    <td style="width: 10px"></td>
                    @foreach (var userrow in Model.Game.GameRows.FirstOrDefault().UserGameRows)
                    {
                        <td>@userrow.UserInt.UserName</td>
                    }
                    <td>#</td>
                </tr>
                <tr id="score-points-row">
                    <td>@Resources.Common.Score</td>
                    @foreach (var userrow in Model.Game.GameRows.FirstOrDefault().UserGameRows)
                    {
                    <td id="score-points-userid-@userrow.UserIntId"></td>
                    }
                    <td></td>
                </tr>
                <tr id="score-place-row">
                    <td>@Resources.Common.Place</td>
                    @foreach (var userrow in  Model.Game.GameRows.FirstOrDefault().UserGameRows)
                    {
                    <td id="score-place-userid-@userrow.UserIntId"></td>
                    }
                    <td></td>
                </tr>
            </tfoot>
           
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">@Resources.Common.GameOver</button>
    </div>
</div>
<!-- /.box -->